.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  z-index: -1;
}

.root li {
  position: absolute;
  display: block;
  list-style: none;
  width: 40px;
  height: 40px;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.root li:nth-child(1) { left: 5%; width: 80px; height: 80px; animation-delay: 22s; animation-duration: 20s; }
.root li:nth-child(2) { left: 15%; width: 50px; height: 50px; animation-delay: 5s; animation-duration: 20s; }
.root li:nth-child(3) { left: 25%; width: 45px; height: 45px; animation-delay: 8s; animation-duration: 20s; }
.root li:nth-child(4) { left: 35%; width: 60px; height: 60px; animation-delay: 13s; animation-duration: 20s; }
.root li:nth-child(5) { left: 45%; width: 45px; height: 45px; animation-delay: 7s; animation-duration: 20s; }
.root li:nth-child(6) { left: 55%; width: 90px; height: 90px; animation-delay: 14s; animation-duration: 20s; }
.root li:nth-child(7) { left: 75%; width: 45px; height: 45px; animation-delay: 9s; animation-duration: 20s; }
.root li:nth-child(8) { left: 65%; width: 80px; height: 80px; animation-delay: 6s; animation-duration: 20s; }
.root li:nth-child(9) { left: 85%; width: 45px; height: 45px; animation-delay: 28s; animation-duration: 20s; }
.root li:nth-child(10) { left: 10%; width: 90px; height: 90px; animation-delay: 10s; animation-duration: 20s; }
.root li:nth-child(11) { left: 40%; width: 60px; height: 60px; animation-delay: 21s; animation-duration: 20s; }
.root li:nth-child(12) { left: 20%; width: 55px; height: 55px; animation-delay: 2s; animation-duration: 20s; }
.root li:nth-child(13) { left: 30%; width: 70px; height: 70px; animation-delay: 16s; animation-duration: 20s; }
.root li:nth-child(14) { left: 60%; width: 45px; height: 45px; animation-delay: 8s; animation-duration: 20s; }
.root li:nth-child(15) { left: 50%; width: 70px; height: 70px; animation-delay: 15s; animation-duration: 20s; }
.root li:nth-child(16) { left: 70%; width: 50px; height: 50px; animation-delay: 32s; animation-duration: 20s; }
.root li:nth-child(17) { left: 80%; width: 40px; height: 40px; animation-delay: 1s; animation-duration: 20s; }
.root li:nth-child(18) { left: 90%; width: 80px; height: 80px; animation-delay: 24s; animation-duration: 20s; }

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: .5;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
