.action[data-selected="true"] {
  background-color: #272e1a;
}

.action[data-selected="true"] {
  transition: background-color 0.3s ease;
}

.action[data-selected="true"]:hover {
  background-color: #2e361f;
}
